*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
main{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px 15%;
}

h1{
    color: darkgoldenrod;
    text-align: center;
    padding: 30px;
    font-family: fantasy;
}

h2, h3{
    color: darkgoldenrod;
    margin-bottom: 10px;
    font-family: fantasy;
    text-align: center;
}

article{
    margin: 20px auto;
}

article > p {
    margin: 20px;
    text-align: justify;
    display: inline-block;
}

nav{
    background-color: rgb(225, 180, 66);
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgb(168, 73, 1);
}

a{
    text-decoration: none;
    text-shadow: 0 4px 5px rgb(47, 47, 47);
}

nav>a{
    margin: 0 20px;
    color: rgb(255, 253, 253);
}

nav>a:hover{
    border:2px solid rgb(251, 169, 18);
    padding: 10px;
    border-radius: 30px;
    background-color:rgb(255, 237, 203);
    color: chocolate;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.484);
    text-shadow: none;
}

figure>img{
    width: 100%;
    box-shadow: 0 0 4px black;
}

figcaption{
    text-align: center;
    color: rgb(188, 187, 187);
}

#banner:hover{
    height: 1000px;
    border-style: dotted;
    border-color: blue;
}

#video{
    text-align: center;
    margin-bottom: 30px;
}

ul{
    font-style: italic;
}

article>img{
    height: 250px;
    width: 205px;
    margin: 2px;
    box-shadow: 0 0 4px black;
}

article>img:hover{
    height: 300px;
    width: 250px;
    border-style: dotted;
    border-color: blue;
}

#tabla{
    text-align: center;
}

table{
    width: 100%;
    margin: 20px auto;
    background-color: rgba(255, 210, 152, 0.577);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.484);
    
}

td>a:hover{
    color:darkgoldenrod;
}

td{
    padding: 8px;
    border: 2px solid antiquewhite;
}

th{
    padding: 8px;
    background-color:rgba(204, 153, 0, 0.34);
}

aside{
    text-align: center;
}

iframe{
    background-color: aliceblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.484);
}

footer{
    padding: 20px;
    background-color:rgb(255, 219, 172);
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.484);
}

footer>img:hover{
    height: 300px;
    width: 250px;
    border-style: dotted;
    border-color: blue;
}

footer>h3{
    font-style: italic;
}

legend{
    color:darkgoldenrod;
    font-weight: bold;
    background-color:antiquewhite;
    padding:5px;
    border-radius: 8px;
}

fieldset{
    border-color: gold;
    border-radius: 5px;
    background-color:rgba(35, 47, 114, 0.999);
    color:aliceblue;
}

form{
    width: 50%;
    height: auto;
    display: inline-block;
}

label{
    display: block;
    margin: 10px;
}

input, textarea{
    border-radius: 3px;
    border: 2px solid goldenrod;
    background-color: rgb(255, 255, 255);
}

#imagen{
    width: 455px;
    height: 400px;
    margin-left: 30px;
}

.formul{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

fieldset{
    box-shadow: 0 0 8px black;
}



div{
    padding-bottom: 5px;
    margin: 5px;
    color: aliceblue;
}

#enviar{
    margin-left: 23%;
}


div>input{
    background-color:rgb(222, 184, 135);
    border-color: rgb(219, 160, 13);
    padding: 4px;
    border-radius: 15px;
    margin: 5px;
    color:rgb(51, 51, 51);
}

.descripcion{
    text-align: center;
}

.lista{
    list-style-type: none;
    list-style-image: url('../imagen/corazon.png');
}

.boton:hover{
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.893);
}