*{
    padding: 0;
    margin: 0;
}

main{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px 15%;
}

h1{
    color: darkgoldenrod;
    text-align: center;
    padding: 30px;
}

h2, h3{
    color: darkgoldenrod;
    margin-bottom: 10px;
}

article{
    margin: 20px auto;
}

article > p {
    margin: 10px;
    text-align: justify;
}

nav{
    background-color: rgb(225, 180, 66);
    padding: 15px;
    text-align: center;
}

a{
    text-decoration: none;
}

nav>a{
    margin: 0 20px;
    color: rgb(255, 253, 253);
}

nav>a:hover{
    border:2px solid rgb(251, 169, 18);
    padding: 10px;
    border-radius: 30px;
    background-color:rgb(255, 237, 203);
    color: chocolate;
}

div{
    color: rgb(255, 253, 253);
    padding-bottom: 30px;
}

figure>img{
    width: 100%;
}

figcaption{
    text-align: center;
    color: rgb(188, 187, 187);
}

#video{
    text-align: center;
    margin-bottom: 30px;
}

ul{
    font-style: italic;
}

article>img{
    height: 250px;
    width: 205px;
    margin: 2px;
}

#tabla{
    text-align: center;
}

table{
    width: 100%;
    margin: 20px auto;
    background-color: rgba(255, 210, 152, 0.577);
}

td>a:hover{
    color:darkgoldenrod;
}

th, td{
    padding: 5px;
}

th{
    background-color:rgba(204, 153, 0, 0.34);
}

aside{
    text-align: center;
}

footer{
    padding: 20px;
    background-color:antiquewhite;
    text-align: center;
}

footer>h3{
    font-style: italic;
}

